[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-json-logger = "*"
django-filter = "*"
dj-database-url = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
